arrow==0.10.0
chardet==2.3.0
click==6.6
cssselect==1.0.0
feedparser==5.2.1
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.7.0
MarkupSafe==0.23
oauthlib==2.0.1
peewee==2.8.5
python-dateutil==2.6.0
readability-lxml==0.6.2
requests==2.12.4
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
twython==3.4.0
Werkzeug==0.11.11
